.snakeArena {
  position: relative;
  margin: auto;
  width: 70vw;
  height: 65vh;
  border: 2px solid green;
  background-color: white;
}

.snake {
  position: absolute;
  width: 1.5%;
  height: 4%;
  background-color: darkcyan;
  border: 1px solid green;
  margin: 2px;
  z-index: 2;
}

.snakeFood {
  position: absolute;
  width: 1.5%;
  height: 4%;
  background-color: red;
  border: 1px solid pink;
  margin: 2px;
  z-index: 1;
}
